{
    "presets": ["es2015", "stage-0", "env", "react"],
    "plugins": [
      "transform-class-properties",
      "babel-plugin-transform-decorators-legacy",
      "babel-plugin-transform-decorators"
    ]
  }
